# sys files
.DS_Store

# stack files
.env
*.log
*.bak

# certs
certs/*
!certs/.gitkeep

# wordpress overrides
wordpress/plugins/hello.php
wordpress/plugins/wordpress-admin-style
wordpress/plugins/push-sync
wordpress/themes/twenty*
!wordpress/themes/twentytwentyone