# system files
.env
*.log
*.bak
*.sql
*.tar
*.tar.gz
*.zip
.DS_Store

# wordpress plugins
wordpress/plugins/hello.php

# wordpress themes
wordpress/themes/twenty*
!wordpress/themes/twentytwentytwo

# backups
backups