# system files
.env
*.log
*.bak
*.sql
*.tar
*.tar.gz
*.zip
.DS_Store

# certs
certs/*
!certs/.gitkeep

# wordpress plugins
wordpress/plugins/wordpress-admin-style
wordpress/plugins/push-sync

# wordpress themes
wordpress/themes/twenty*
!wordpress/themes/twentytwentyone

# wordpress uploads
wordpress/uploads/*
!wordpress/uploads/.gitkeep