/**
 * Styles for the WordPress post/page editor.
 * Ensures a visual match between back- and front-end.
 */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
   # Custom properties
   # Typography
   # Elements
   # Links
# Adjustments for the editor

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "../_custom-properties.scss";
@import "../_vars.scss";
@import "../_elements.scss";
@import "../_links.scss";
@import "../_media.scss";
@import "../_blocks.scss";
@font-face {
	font-family: 'star';
	src:
	  url('../../fonts/star.woff2?gmcsp2') format('woff2'),
	  url('../../fonts/star.ttf?gmcsp2') format('truetype'),
	  url('../../fonts/star.woff?gmcsp2') format('woff'),
	  url('../../fonts/star.svg?gmcsp2#star') format('svg');
	font-weight: normal;
	font-style: normal;
}
@import "../woo/_blocks.scss";

/*--------------------------------------------------------------
# Adjustments for the editor
--------------------------------------------------------------*/
button,
select,
option {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	border-radius: inherit;
}
// Fix for old buttons.
div[data-type="core/button"] {
	&[data-align="right"],&[data-align="left"] {
		display:block;
	}
}
.block-editor-block-list__block.wp-block-columns {
	margin-top: 28px;
}
.block-editor-block-list__block[data-type="kadence/advancedheading"] {
    margin-bottom: 0;
    margin-top: 0;
}
[data-type="kadence/advancedheading"] + [data-type="kadence/advancedheading"] {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
}
.wp-block-button__link {
	border-radius: 3px;
	background: var(--global-palette-btn-bg);
	color: var(--global-palette-btn);
	padding: 0.4em 1em;
	border: 0;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.2s ease;
	box-shadow: 0px 0px 0px -7px rgba(0,0,0,0.0);
	&:hover, &:focus {
		color: var(--global-palette-btn-hover);
		background: var(--global-palette-btn-bg-hover);
		box-shadow: 0px 15px 25px -7px rgba(0,0,0,0.1);
	}
}
.is-style-outline .wp-block-button__link {
	border: 2px solid currentColor;
	background: transparent;
	color: var(--global-palette-highlight);
	&:hover, &:focus {
		background: transparent;
		color: var(--global-palette-highlight-alt);
		box-shadow: 0px 0px 0px -7px rgba(0,0,0,0.0);
	}
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	padding:0;
	a {
		color: inherit;
		text-decoration: none;
	}
	&.has-background {
		padding: 1em 2em;
	}
}
h1, h2, h3, h4, h5, h6 {
	margin: 1.5em 0 .5em;
}
.block-editor-block-list__layout > {
	h1, h2, h3, h4, h5, h6 {
		&:first-child {
			margin-top: 0;
		}
	}
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote,
q {
	quotes: '“' '”';
}

blockquote {
	padding-left: 1em;
	border-left: 4px solid var( --global-palette4 );
}

.entry-content blockquote {
	margin: 0 0 var(--global-md-spacing);
}

blockquote cite, blockquote .wp-block-pullquote__citation {
	color: var(--global-palette5);
	font-size: 13px;
	margin-top: 1em;
	position: relative;
	font-style: normal;
	display: block;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: var(--global-palette7);
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 0.9375rem;
	line-height: 1.6;
	max-width: 100%;
	overflow: auto;
	padding: 1.5em;
	white-space: pre-wrap;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 0.8rem;
}

abbr,
acronym {
	border-bottom: 1px dotted var(--global-palette4);
	cursor: help;
}

mark,
ins {
	text-decoration: none;
}

big {
	font-size: 125%;
}
address, figure, hr, p, table, pre {
	margin-top:0;
	margin-bottom: 0;
}
p, .wp-block[data-type="kadence/advancedheading"]:not(:last-child) p {
	margin-bottom: var(--global-md-spacing);
}
p:last-child {
	margin-bottom: 0;
}

pre {
	margin-bottom: var(--global-md-spacing);
}
// Toolset issue.
pre.CodeMirror-line {
    line-height: inherit;
    margin: 0;
    overflow: visible;
    font-size: inherit;
    background: transparent;
    max-width: unset;
    padding: 0 4px;
    font-family: inherit;
}
hr {
	margin-top: var(--global-md-spacing);
	margin-bottom:0;
}
ul, ol {
	margin: 0 0 var(--global-md-spacing);
	padding-left: 2em;
}
li>ol, li>ul {
	margin: 0;
}
.alignleft {
	float: left;
	margin-right: var(--global-md-spacing);
}
.alignright {
	float: right;
	margin-left: var(--global-md-spacing);
}
.editor-post-title__input {
	margin-top: 0;
	margin-bottom: 0;
}

.gallery .gallery-item,
.wp-block-freeform .gallery .gallery-item {
	width: auto;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
	max-width: none;
}

.wp-block-cover h2,
.wp-block-cover h3,
.wp-block-cover h4 {
	color: inherit;
}

.wp-block-cover .wp-block-cover-text {
	font-size: 2em;
	line-height: 1.25;
}

.wp-block-archives,
.wp-block-categories__list,
.wp-block-latest-posts,
.wp-block-latest-comments {
	margin-left: auto;
	margin-right: auto;
}

.wp-block-latest-comments {
	padding-left: 2.5em;
	padding-right: 2.5em;
}
body:not(.mce-content-body):before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
	pointer-events: none;
}
.kt-post-grid-item .kt-blocks-post-excerpt p {
	margin-bottom: 0;
}
.kadence-inner-column-inner > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block[data-type="kadence/advancedheading"]:first-child .wp-block-kadence-advancedheading {
    margin-top: 0;
}
.kt-tab-inner-content >.block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:first-child, .kt-accordion-panel-inner >.block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:first-child{
	h1, h2, h3, h4, h5, h6 {
		margin-top:0;
	}
}
.wp-block-kadence-rowlayout .block-editor-block-list__layout ul {
    padding-left: 2em;
}
.product-details.content-bg {
	background: var( --global-palette9 );
}
.block-editor-block-toolbar {
    color: #444;
}
.wp-block-image {
	margin-bottom: var(--global-md-spacing);
}
.interface-interface-skeleton__editor {
	max-width: 100%;
}
.wp-block-navigation__container>.wp-block-navigation-link, .wp-block-page-list, .wp-block-page-list>.wp-block-pages-list__item {
	margin: 0 2em 0 0;
}